<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle}, ${jsFiles}, ${cssFiles})"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Manage Student of class [[${classname}]]</h2>
		</div>

		<div>
			<input type="button" class="btn btn-primary" id="gobackButton"
				th:link="${linkGoBack}" value="Go back" />
		</div>

		<div th:object="${clazz}">
			<div class="row">
				<div class="col">
					<p><b>Class ID: </b><span style="color: blue;" th:text="*{id}" id="classId"></span></p>
					<p><b>Class name: </b><span style="color: blue;" th:text="*{name}"></span></p>
					<p><b>Class grade: </b><span style="color: blue;" th:text="*{grade}"></span></p>
					<p><b>Current Classroom: </b><span style="color: blue;" th:text="*{classrooms}"></span></p>
				</div>
				<div class="col">
					<p><b>Number of teachers: </b><span style="color: blue;" th:text="${#lists.size(listTeacher)}" id="numberOfTeacher"></span></p>
					<p><b>Number of students: </b><span style="color: blue;" th:text="${#lists.size(listStudent)}" id="numberOfStudent"></span></p>
				</div>
			</div>
		</div>
		
		
		<div class="full-details">
			<form class="row border border-secondary rounded p-3 m-3 justify-content-center"
					th:action="@{'/' + ${link} + '/add-student'}" method="post">
				
				<div class="col-sm-5">
					<div class="form-group form-inline row">
						<label class="col-sm-3 col-form-label">ID Student</label>
						<div class="col-sm-9">
							<input type="hidden" th:field="${clazz.id}"/>
							<input type="search" id="id-user" name="idStudent" class="form-control" />
							<input type="button" id="button-check-user" 
									class="form-control btn btn-primary" value="Check"/>
						</div>
					</div>
					<div class="form-group form-inline row">
						<label class="col-sm-3 col-form-label">Full Name</label>
						<div class="col-sm-9">
							<input type="search" id="fullname" class="form-control" disabled/>
						</div>
					</div>
					<div class="form-group form-inline row">
						<label class="col-sm-3 col-form-label">Email</label>
						<div class="col-sm-9">
							<input type="search" id="email" class="form-control" disabled/>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group form-inline row">
						<label class="col-sm-3 col-form-label">DoB</label>
						<div class="col-sm-9">
							<input type="search" id="dob" class="form-control" disabled/>
						</div>
					</div>
					<div class="form-group form-inline row">
						<label class="col-sm-3 col-form-label">Phone</label>
						<div class="col-sm-9">
							<input type="search" id="phone" class="form-control" disabled/>
						</div>
					</div>
					<div class="form-group form-inline row">
						<label class="col-sm-3 col-form-label">Address</label>
						<div class="col-sm-9">
							<input type="search" id="address" class="form-control" disabled/>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<input type="submit" id="button-add-user"
						class="btn btn-success btn-block btn-lg" value="Add" disabled />
				</div>
			</form>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th th:replace="fragments :: column_link(
							${link} + '/edit/' + ${clazz.id} + '/student', 'id', 'ID', 'none')"></th>
						<th th:replace="fragments :: column_link(
							${link} + '/edit/' + ${clazz.id} + '/student', 'firstName', 'Full Name', 'none')"></th>
						<th th:replace="fragments :: column_link(
							${link} + '/edit/' + ${clazz.id} + '/student', 'email', 'Email', 'none')"></th>
						<th>Courses</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listStudents}">
						<td>[[${user.id}]]</td>
						<td>[[${user.fullName}]]</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.courses}]]</td>
						<td>
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/users' + '/edit/' + ${user.id}}" 
								title="Edit this user"></a> &nbsp;
							<a class="fas fa-trash fa-2x icon-dark link-delete" 
								th:href="@{'/' + ${link} + '/' + ${clazz.id} + '/delete-student/' + ${user.id}}"
								th:userId="${user.id}" title="Delete this user"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div> <!-- full detail  -->
		
		<div class="less-details">
			<div id="data_less_teacher">
				<div th:each="user, start : ${listStudents}" class="row m-1 p-3 border border-secondary rounded" >
					<div class="col-8">
						<div>[[@{${user.id}}]]</div>
						<div>[[@{${user.fullName}}]]</div>
						<div>[[@{${user.email}}]]</div>
						<div class="mt-2">
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/users' + '/edit/' + ${user.id}}" 
								title="Edit this user"></a> &nbsp;
							<a class="fas fa-trash fa-2x icon-dark link-delete" 
								th:href="@{'/' + ${link} + '/' + ${clazz.id} + '/delete-student/' + ${user.id}}"
								th:userId="${user.id}" title="Delete this user"></a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<form class="row m-1 p-3 border border-secondary rounded justify-content-center"
					th:action="@{'/' + ${link} + '/add-student'}" method="post">
					<div class="input-group m-1">
						<input type="hidden" th:field="${clazz.id}" /> <input
							type="search" id="id-user-less" name="idStudent" class="form-control" /> 
						<div class="input-group-append">
							<input type="button" id="button-check-user-less"
								class="form-control btn btn-primary" value="Check" />
						</div>
					</div>
						<div class="input-group m-1">
							<input type="text" id="fullname-less" class="form-control" disabled />
							<input type="text" id="email-less" class="form-control" disabled />
							<input type="submit" id="button-add-user-less"
									class="btn btn-success btn-block" value="Add" disabled />
						</div>
				</form>
			</div>
		</div>
		<!-- less detail -->
		
		<div th:if="${totalItems > 0}" class="text-center m-1">
			<span>Showing Student # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div th:unless="${totalItems > 0}" class="text-center m-1">
			<span>No Student found</span>
		</div>

		<div th:if="${totalPages > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center flex-wrap">
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${link}, 1, 'First')"></a>
					</li>
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${link}, ${currentPage - 1}, 'Previous')"></a>
					</li>
					<li class="page-item" th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}">
						<a th:replace="fragments :: page_link(${link}, ${i}, ${i})"></a>
					</li>
					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${link}, ${currentPage + 1}, 'Next')"></a>
					</li>
					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${link}, ${totalPages}, 'Last')"></a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="modal fade text-center" id="modalDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body" id="modalBody">
						<span id="mdText"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete Confirmation</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="confirmText"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Yes</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				let link = $(this);
				let userId = link.attr("userId");
				$("#yesButton").attr("href", link.attr("href"));
				$("#confirmText").text("Are you sure you want to delete this User ID " + userId + " ?");
				$("#confirmModal").modal();
			});
			
			$("#button-check-user").on("click", function() {
				let id = $("#id-user").val();
				let csrfValue = $("input[name='_csrf']").val();
				let params = {id: id, _csrf: csrfValue};
				let url = "[[@{'/users/get_user_student'}]]";
				
				$.post(url, params, function(respone) {
					if (respone !== "") {
						let user = respone;
						$("#fullname").val(user.fullName);
						$("#email").val(user.email);
						$("#dob").val(user.dob);
						$("#phone").val(user.phone);
						$("#address").val(user.address);
						$("#button-add-user").prop("disabled", false);
					} 
				}).fail(function(a,b,c) {
					showModalDialog("Error", "Not found user");
				});
			});
			$("#button-check-user-less").on("click", function() {
				let id = $("#id-user-less").val();
				let csrfValue = $("input[name='_csrf']").val();
				let params = {id: id, _csrf: csrfValue};
				let url = "[[@{'/users/get_user_student'}]]";
				
				$.post(url, params, function(respone) {
					if (respone !== "") {
						let user = respone;
						$("#fullname-less").val(user.fullName);
						$("#email-less").val(user.email);
						$("#button-add-user-less").prop("disabled", false);
					} 
				}).fail(function(a,b,c) {
					showModalDialog("Error", "Not found user");
				});
			});
			
			$("#gobackButton").on("click", function() {
				let linkb = $(this).attr("link");
				let linkOrg = "[[@{/}]]" + linkb;
				window.location = linkOrg;
			});

		});
		
	
		function clearFilter() {
			window.location = "[[@{'/' + ${link}}]]";
		}
		
		function editCheckBox(cb) {
			let id = cb.id;
			if (cb.className.split(" ").includes("active")) {
				$("#"+id).removeClass("btn-success active").addClass("btn-light");
			} else {
				$("#"+id).removeClass("btn-light").addClass("btn-success active");
			}
		}
		
		function showModalDialog(title, message) {
			$("#modalTitle").text(title);
			$("#mdText").text(message);
			$("#modalDialog").modal();
		}
		
		
		
		
	</script>
</body>
</html>